/* ==================== GERAL ==================== */
:root {
    --azul: hsl(222, 100%, 61%);
    --verde: hsl(165, 66%, 53%);
    --coral: hsl(360, 96%, 71%);
    --creme: hsl(31, 81%, 94%);
    --cinza: hsl(240, 5%, 48%);
    --cinza-claro: hsl(0, 0%, 74%);
    --cinza-claro-fundo: hsl(0, 0%, 97%);
    
    font-size: 62.5%;
}

body {
    background: hsl(222, 100%, 61%);
    font-size: 1.6rem;
    width: 36.0rem;
    height: 91.7rem;
    margin: 0 auto;
}

header {
    width: 36rem;
    height: 10rem;
}
header img {
    position: absolute;
    z-index: -1;
}

.buttons-header {
    display: flex;
    gap: 5.8rem;
    align-items: center;
    padding: 4.8rem 0 0 4.8rem;
}
